@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Help</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In eu mi bibendum neque egestas congue. Eros in cursus turpis massa tincidunt. Aliquam sem et tortor consequat id porta nibh venenatis. Duis convallis convallis tellus id interdum velit. Ac turpis egestas sed tempus. Quis risus sed vulputate odio ut enim blandit volutpat. Vulputate dignissim suspendisse in est. Cursus turpis massa tincidunt dui ut ornare lectus sit. Vitae tempus quam pellentesque nec nam aliquam sem et. Commodo sed egestas egestas fringilla phasellus. Lacus sed viverra tellus in hac habitasse platea. Odio aenean sed adipiscing diam donec adipiscing tristique risus. Id venenatis a condimentum vitae sapien pellentesque habitant morbi. Turpis egestas sed tempus urna et pharetra pharetra massa. Sem viverra aliquet eget sit amet. Congue mauris rhoncus aenean vel. Fusce ut placerat orci nulla. Integer quis auctor elit sed vulputate. Pretium nibh ipsum consequat nisl vel pretium lectus.</p>
</div>
